In [1]:
#code to create a data table for the pandazoo website
# Mount drive to get titanic data
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# Load the data
import pandas as pd
titanic_df = pd.read_excel('/content/drive/My Drive/titanic3.xls', 'titanic3', index_col=None, na_values=['NA'])

In [0]:
# make the dataset small
titanic_df2 = titanic_df.head()

#render dataframe as html
html = titanic_df2.to_html()

#write html to file
text_file = open("index_table.html", "w")
text_file.write(html)
text_file.close()

In [0]:
titanic_df.info()

Cyclo-cross data set

In [0]:
import pandas as pd
cyclo = pd.read_csv('/content/drive/My Drive/cycling_data/uci_historical_rankings/uci_cyclocross_rankins_historicals.csv')
# cyclo = pd.read_csv('uci_cyclocross_rankings_historicals.csv')

In [0]:
# make the dataset small
cyclo2 = cyclo.head()

#render dataframe as html
html = cyclo2.to_html()

#write html to file
text_file = open("index_table2.html", "w")
text_file.write(html)
text_file.close()

In [4]:
# Let's use the head function to look at the data
cyclo.head()

   Rank       UCI ID                    Name  ... Points  year        type
0     1  10007946203    VAN DER POEL Mathieu  ...   2600  2019  cyclocross
1     2  10007585986           VAN AERT Wout  ...   2452  2019  cyclocross
2     3  10007586087              AERTS Toon  ...   2415  2019  cyclocross
3     4  10007155651  VANTHOURENHOUT Michael  ...   1610  2019  cyclocross
4     5  10006118660       VAN DER HAAR Lars  ...   1431  2019  cyclocross

[5 rows x 9 columns]

In [0]:
# Create two data sets, a 2019 and a 2018
cyclo_2018 = cyclo[cyclo['year'] == 2018]
cyclo_2019 = cyclo[cyclo['year'] == 2019]

In [8]:
# Let's merge the two data sets. Let's use a left merge, so let's merge 2018 to 2019 (left side) and call the dataframe cyclo_both
cyclo_both = pd.merge(cyclo_2019, cyclo_2018, how='left', on='UCI ID')
cyclo_both.head()

   Rank_x       UCI ID                  Name_x  ... Points_y  year_y      type_y
0       1  10007946203    VAN DER POEL Mathieu  ...   2985.0  2018.0  cyclocross
1       2  10007585986           VAN AERT Wout  ...   2452.0  2018.0  cyclocross
2       3  10007586087              AERTS Toon  ...   1820.0  2018.0  cyclocross
3       4  10007155651  VANTHOURENHOUT Michael  ...   1610.0  2018.0  cyclocross
4       5  10006118660       VAN DER HAAR Lars  ...   1438.0  2018.0  cyclocross

[5 rows x 17 columns]

In [0]:
# Let's append the two data sets together into a dataframe called cyclo_append
# append 2019 to 2018, i.e add 2019 to a 2018 dataframe
cyclo_append = cyclo_2018.append(cyclo_2019)

In [12]:
# Let's use the dataframe cyclo_both to only riders who Points_x is greater than Points_y using the head function.
# in other words lets preview the data using the head function to see what riders earned more points in 2019 versus 2018.
cyclo_both[cyclo_both['Points_x'] > cyclo_both['Points_y']].head()

    Rank_x       UCI ID             Name_x  ... Points_y  year_y      type_y
2        3  10007586087         AERTS Toon  ...   1820.0  2018.0  cyclocross
6        7  10007945189    HERMANS Quinten  ...   1125.0  2018.0  cyclocross
8        9  10004853014      MEISEN Marcel  ...   1075.0  2018.0  cyclocross
9       10  10006656204  VERMEERSCH Gianni  ...    617.0  2018.0  cyclocross
11      12  10010977552     PIDCOCK Thomas  ...    804.0  2018.0  cyclocross

[5 rows x 17 columns]